SELECT [adCodeKey]
      ,[advertiseDetail]
      ,[advertiseHostId]
      ,[advertiseHost]
      ,[advertiseMedia]
      ,[accessKey]
      ,[adSizeKey]
      ,[adReachKey]
      ,[productKey]
      ,[url]
  FROM [acumen].[dim].[tAcquisitionVehicle]
where [advertiseHost] = 'google'