ENVIROMENT PPPlatform
ACTIVE_ASE_SERVER_NAME [ACTIVE_ASE_SERVER_NAME]
ACTIVE_LINUX_HOST_NAME_1 [ACTIVE_LINUX_HOST_NAME_1]
#------------------------------------------
WSB_ASE_SERVER_NAME [WSB_ASE_SERVER_NAME]
WSB_LINUX_HOST_NAME [WSB_LINUX_HOST_NAME]
LINUX_USER sybasease
#------------------------------------------
REP_SERVER_NAME [REP_SERVER_NAME]
REP_LINUX_HOST_NAME [REP_LINUX_HOST_NAME]
REP_USER sybaserep
#------------------------------------------
REPLICATION_ASE_LOGIN [REP_SRV_NAME]_maint_user
SYBASEASE_PASS [Password]
#------------------------------------------
DEST_FOLDER_ON_TARGET /mnt/R5/dbbackup/forReplication/
DUMP_FOLDER_ON_SOURCE /mnt/R5/dbbackup/
#------------------------------------------
CANCEL_TRAN_LOG 0
CREATE_REP_DEF 0
